<div class="container">
  <div class="container">
      <h3>Create New Product</h3>
      <div class="row">
          <div class="container" *ngIf="errorMesgs">
              <p *ngFor="let m of errorMesgs">Error: {{m}}</p>
            </div>
      </div>
      <form (submit)="onCreateSubmit()">
          <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <input type="text" [(ngModel)]="newProduct.title" name="titlefield" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter title">
          </div>
          <div class="form-group">
              <label for="exampleInputEmail1">Price</label>
              <input type="text" [(ngModel)]="newProduct.price" name="pricefield" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter price">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Image URL</label>
                <input type="text" [(ngModel)]="newProduct.img_url" name="urlfield" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Image URL">
              </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
  </div>
 
</div>
